body {
    padding: 0;
}
h4 {
    margin-left: 50px;
}
form {
    padding: 10px 50px;
    background-color: #e1e1e1;
}
#contenedorFiltros {
    margin-bottom: 30px;
}
.form-group {
    display: inline-block;
    width: 32%;
}
#contenedorFiltros input,
#contenedorFiltros select {
    float: right;
    width: 50%;
}
#contenedorFiltros .form-group:not(:nth-child(3n+0)) {
    margin-right: 1.5%;
}
#contenedorFiltros input,
#contenedorFiltros select {
    height: 25px;
    border: solid 2px #b5b5b5;
    border-radius: 3px;
}
#contenedorFiltros span {
    vertical-align: sub;
}
#contenedorBtns {
    display: flow-root;
}
#contenedorBtns input {
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;
}
#contenedorBtns input:nth-child(1) {
    float: left;
}
#contenedorBtns input:not(:nth-child(1)) {
    float: right;
    color: white;
}
#contenedorBtns input:nth-child(3) {
    background-color: #158f25;
    margin-right: 5px;
    width: 200px;
    height: 30px;
}
#contenedorBtns input:nth-child(3):hover {
    background-color: #0f691b;
    transform: scale(1.02);
}
#contenedorBtns input:nth-child(2) {
    background-color: #332bdc;
    width: 150px;
    height: 30px;
}
#contenedorBtns input:nth-child(2):hover {
    background-color: #272290;
    transform: scale(1.02);
}
#contenedorBtns input:nth-child(1) {
    background: url("../Images/clearFilter.png");
    background-repeat: no-repeat;
    width: 30px;
    background-position-x: center;
    background-size: contain;
    padding: 0 ;
}
#contenedorBtns input:nth-child(1):hover {
    transform: scale(1.2) rotate(20deg);
}

/* Table Style */
#MainContent_contenedorResultado {
    margin-top: 20px;
}
#MainContent_contenedorResultado td,
#MainContent_contenedorResultado th {
    text-align: center;
}
#MainContent_contenedorResultado td {
    padding: 0 5px;
}
#MainContent_contenedorResultado th {
    padding: 0 5px;
}
#MainContent_contenedorResultado input {
    width: 30px !important;
    height: 30px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none;
    border-radius: 3px;
}
#MainContent_contenedorResultado tbody tr td:nth-last-child(1){
    white-space: nowrap;
}
#MainContent_contenedorResultado tbody tr {
    border-top: 2px solid #b5b5b5;
    border-bottom: 2px solid #b5b5b5;
}
#MainContent_contenedorBtnsPaginas {
    text-align: center;
    margin-top: 10px;
}
#MainContent_contenedorBtnsPaginas input {
    color: white;
    background-color: #332bdc;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;
}
#MainContent_contenedorBtnsPaginas input:not(:nth-last-child(1)){
    margin-right: 5px;
}
#MainContent_contenedorBtnsPaginas input.activo{
    background-color: #1d1981;
    transform: scale(1.05);
}
#MainContent_contenedorBtnsPaginas input:hover {
    background-color: #272290;
    transform: scale(1.05);
}
#contenedorAvisos span{ 
    overflow: hidden;
    display: block;
    height: 0;
    max-height: 80px;
    background-color: #ff8282;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    transition-duration: 0.2s;
}
#contenedorAvisos span.inactivo{
    visibility: hidden;
    height: 0;
}
#contenedorAvisos span.activo{
    visibility: visible;
    height: auto;
}

/*ABMC.aspx*/

div#ABMCContent div.form-group input,
div#ABMCContent div.form-group select {
    float: right;
    width: 50%;
    border: solid 2px #b5b5b5;
    border-radius: 3px;
}
/*6,11,15,18*/
div#ABMCContent .form-group{
    margin-right: 1.5%;
}
div#ABMCContent .form-group:nth-child(6),
div#ABMCContent .form-group:nth-child(11),
div#ABMCContent .form-group:nth-child(15),
div#ABMCContent .form-group:nth-child(18){
    margin-right: 0;
}
div#ABMCContent > span {
    margin-left: -1.5%;
    position: absolute;
}
div#ABMCContent > span:nth-child(7),
div#ABMCContent > span:nth-child(19){
    margin-left: 0;
    position: initial;
}
div#ABMCContent div#contenedorBtnsABMC {
    display: flow-root;
}
div#ABMCContent div#contenedorBtnsABMC input {
    float: right;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: 0.5s;
}
div#ABMCContent div#contenedorBtnsABMC input:nth-child(2) {
    background-color: #158f25;
    margin-right: 5px;
    width: 200px;
    height: 30px;
}
div#ABMCContent div#contenedorBtnsABMC input:nth-child(2):hover{
    background-color: #0f691b;
    transform: scale(1.02);
}
div#ABMCContent div#contenedorBtnsABMC input:nth-child(1) {
    background-color: #332bdc;
    width: 150px;
    height: 30px;
}
div#ABMCContent div#contenedorBtnsABMC input:nth-child(1):hover{
    background-color: #272290;
    transform: scale(1.02);
}

div#ABMCContent #contenedorAvisos span {
    text-align: left;
    -webkit-user-modify: read-write-plaintext-only;
}

